<h1>Editando refeição</h1>

<%= render "form", refeico: @refeico %>

<br>

<div class="text-box">
  <%= link_to "Mostrar essa refeição", @refeico %> |
  <%= link_to "Voltar para refeições", refeicos_path %>
</div>
