<footer class="footer">
  <div class="container-footer">
    <div class="row">
      <div class="footer-col">
        <h4>Empresa</h4>
        <ul>
         <li><%= link_to "Sobre" , home_about_path %></li>
         <li><%= link_to "Nossos Serviços" , home_Services_path %></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Ajuda</h4>
        <ul>
          <li><%= link_to "Perguntas Frequentes" , home_FAQ_path %></li>
          <li><a href="#">Opções de Pagamento</a></li>
      </div>
      <div class="footer-col">
        <h4>Siga-nos</h4>
        <div class="redes sociais">
          <a href="https://twitter.com/raulalves9" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/raulzamban/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/raul-alves-zamban-512b79112/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
