<footer class="footer">
     <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Empresa</h4>
          <ul>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Nossos serviços</a></li>
            <li><a href="#">Politica de privacidade</a></li>
            <li><a href="#">Programa de filiação</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Ajuda</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Envio</a></li>
            <li><a href="#">Devoluções</a></li>
            <li><a href="#">Status de envio</a></li>
            <li><a href="#">Opções de pagamento</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>online shop</h4>
          <ul>
            <li><a href="#">relógios</a></li>
            <li><a href="#">Bolsa</a></li>
            <li><a href="#">Calçados</a></li>
            <li><a href="#">Vestidos</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Siga nos</h4>
          <div class="redes sociais">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
     </div>
</footer>
