<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img2.webp"
                alt="login form" class="img-fluid" />
    </div>
    <div class="col-md-6">
      <div class="text-box">
        <h2>Sobre o Projeto</h2>
        <p>Esta página foi criada como parte de um pequeno projeto web em Ruby on Rails para a disciplina de Desenvolvimento Web. Este é o primeiro projeto em Rails do desenvolvedor, que está cursando Análise e Desenvolvimento de Sistemas no Senai Chapecó.</p>
      </div>
    </div>
  </div>
</div>

