<!--Section: FAQ-->
<section class="text-box">
  <h3 class="text-center mb-4 pb-2 text-dark fw-bold">Perguntas Frequentes</h3>
  <p class="text-center mb-5">
    Encontre as respostas para as perguntas mais frequentes na sessão abaixo
  </p>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-dark"><i class="far fa-paper-plane text-dark pe-2"></i> Qual o intuito do site?</h6>
      <p>
        <strong><u>Saúde!</u></strong> Criamos o site para ajudar as pessoas a manter um controle sobre a sua alimentação,
        pontuando as refeições diárias, calorias e dias da semana.
      </p>
    </div>
<div class="col-md-6 col-lg-4 mb-4">
  <h6 class="mb-3 text-dark"><i class="fas fa-pen-alt text-dark pe-2"></i> O site é cobrado? </h6>
  <p>
    <strong><u>Sim, somos freemium!</u></strong> Temos sistema de freemium, ou seja, você pode optar por uma funcionalidade gratuita e por uma
    funcionalidade com opções mais personalidades onde existe uma pequena cobrança.
  </p>
</div>

<div class="col-md-6 col-lg-4 mb-4">
  <h6 class="mb-3 text-dark"><i class="fas fa-user text-dark pe-2"></i> Existe um plano anual?</h6>
  <p>
  <strong><u>Atualmente</u></strong>, oferecemos apenas assinatura mensal. Você pode atualizar ou cancelar sua conta mensal a qualquer momento, sem nenhuma obrigação adicional.
  </p>
</div>

<div class="col-md-6 col-lg-4 mb-4">
  <h6 class="mb-3 text-dark"><i class="fas fa-rocket text-dark pe-2"></i> Posso trocar de forma de pagamento?</h6>
  <p>
  <strong><u>Sim</u></strong>. Acesse a seção de cobrança do seu painel e atualize suas informações de pagamento.
  </p>
</div>

<div class="col-md-6 col-lg-4 mb-4">
  <h6 class="mb-3 text-dark"><i class="fas fa-home text-dark pe-2"></i> Posso pedir reembolso?</h6>
  <p><strong><u>Infelizmente não</u>.</strong> Não emitimos reembolsos totais ou parciais por qualquer motivo.</p>
</div>

<div class="col-md-6 col-lg-4 mb-4">
  <h6 class="mb-3 text-dark"><i class="fas fa-book-open text-dark pe-2"></i> Existe degustação do sistema?</h6>
  <p>
    Claro! Ficamos felizes em oferecer um plano gratuito para qualquer pessoa que queira experimentar nosso serviço.
  </p>
</div>
  </div>
</section>
<!--Section: FAQ-->
