<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                alt="login form" class="img-fluid" />
    </div>
    <div class="col-md-6">
      <div class="text-box">
        <h2>Formas de Pagamento</h2>
        <p>
        <ul style="font-size: 14px;">
        <li>Na versão Freemium do nosso serviço, você não precisa se preocupar com cobranças. É totalmente gratuito! Além disso, temos uma oferta especial para você: experimente a versão Premium gratuitamente por 30 dias. Assim, você poderá desfrutar de todos os recursos extras que oferecemos.</li>
        <li>E se você decidir continuar com a versão Premium, oferecemos uma assinatura mensal por apenas R$20. É uma ótima oportunidade de ter acesso a recomendações personalizadas, monitoramento avançado de calorias e programas de treinamento exclusivos.</li>
        <li>E não se preocupe com a forma de pagamento. Aceitamos débito bancário, cartão de crédito, débito e até mesmo Pix. Queremos tornar a experiência o mais conveniente possível para você.</li>
        <li>Então, aproveite a oferta de degustação gratuita da versão Premium por 30 dias e descubra como podemos ajudar você a alcançar seus objetivos de saúde e bem-estar. Não perca essa oportunidade!</li>
        </p>
        </ul>
      </div>
    </div>
  </div>
</div>

