<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-box">
        <h2>Política de Privacidade do MealTracker</h2>
        <p>Sua privacidade é importante para nós. Esta Política de Privacidade descreve como suas informações pessoais são coletadas, usadas e compartilhadas ao usar o MealTracker. Ao acessar ou utilizar o MealTracker, você concorda com esta política.</p>

        <h5>Informações Coletadas</h5>
        <p>Coletamos informações que você nos fornece diretamente, como nome, endereço de e-mail, e informações sobre suas refeições e saúde. Também podemos coletar informações automaticamente, como logs de acesso e cookies.</p>

        <h5>Uso das Informações</h5>
        <p>Usamos suas informações para fornecer, manter, proteger e melhorar nossos serviços. Isso inclui personalizar conteúdo, entender o uso dos serviços e comunicar-se com você sobre sua conta.</p>

        <h5>Compartilhamento de Informações</h5>
        <p>Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para operar, manter ou melhorar nossos serviços. Podemos compartilhar informações não pessoais ou agregadas publicamente.</p>

        <h5>Segurança</h5>
        <p>Tomamos medidas para proteger suas informações pessoais, mas lembre-se de que nenhum método de transmissão pela Internet ou armazenamento eletrônico é 100% seguro.</p>

        <h5>Seus Direitos</h5>
        <p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Entre em contato conosco para exercer esses direitos.</p>

        <h5>Alterações na Política de Privacidade</h5>
        <p>Podemos atualizar esta Política de Privacidade periodicamente. Recomendamos revisar periodicamente as alterações. Seu uso contínuo do MealTracker após as alterações constitui aceitação dessas alterações.</p>

        <h5>Entre em Contato</h5>
        <p>Se tiver dúvidas sobre esta Política de Privacidade, entre em contato conosco em raulalves4@gmail.com.</p>

        <p>Obrigado por confiar no MealTracker para melhorar sua saúde e bem-estar!</p>
        <p>Última atualização: 18/09/2023</p>
      </div>
    </div>
  </div>
</div>
