<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp"
                alt="login form" class="img-fluid" />
    </div>
    <div class="col-md-6">
      <div class="text-box">
        <h2>Serviços</h2>
        <p style="font-size: 18px;">Plano Freemium:</p>
        <ul style="font-size: 14px;">
          <li>Registre suas refeições diárias, incluindo detalhes como alimentos consumidos e porções.</li>
          <li>Acompanhe facilmente a quantidade de calorias consumidas em cada refeição e ao longo do dia.</li>
          <li>Registre suas atividades físicas, como caminhadas, corridas ou exercícios em academia.</li>
          <li>Obtenha gráficos simples e estatísticas básicas sobre sua ingestão de calorias e atividades físicas.</li>
          <li>Acesse uma seção de perguntas frequentes e um formulário de contato para obter suporte básico.</li>
        </ul>
        <p style="font-size: 18px;">Plano Premium:</p>
        <ul style="font-size: 14px;">
          <li>Receba recomendações personalizadas de dieta e exercícios com base nos seus dados.</li>
          <li>Monitore detalhadamente sua ingestão de calorias, incluindo contagem de macronutrientes.</li>
          <li>Tenha acesso a programas de treinamento físico personalizados, com exercícios e metas adequados às suas necessidades e objetivos.</li>
          <li>Acompanhe seu progresso ao longo do tempo com gráficos mais detalhados e estatísticas avançadas.</li>
          <li>Desfrute de suporte ao cliente prioritário, com tempos de resposta mais rápidos e assistência.</li>
        </ul>
    </div>
  </div>
</div>

