<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-box">
        <h2>Termos de Uso do MealTracker</h2>
        <p>Bem-vindo ao MealTracker! Obrigado por escolher nossa plataforma para melhorar sua saúde e bem-estar. Antes de começar, é importante que você leia e aceite nossos Termos de Uso. Eles regem o uso de nossos serviços e garantem uma experiência positiva e segura para todos os nossos usuários. Ao utilizar o MealTracker, você concorda com os seguintes termos:</p>

        <h5>Uso Responsável:</h5>
        <p>Você é responsável por todas as atividades realizadas em sua conta.</p>
        <p>Não compartilhe suas credenciais de login com terceiros.</p>

        <h5>Privacidade e Dados:</h5>
        <p>Protegemos suas informações pessoais de acordo com nossa <%= link_to "Política de privacidade" , home_Privacy_path %>.</p>
        <p>Você concorda em fornecer informações precisas e atualizadas.</p>

        <h5>Conteúdo Gerado pelo Usuário:</h5>
        <p>Não publique conteúdo ofensivo, difamatório ou ilegal.</p>
        <p>Você é responsável pelo conteúdo que compartilha em nossa plataforma.</p>

        <h5>Assinaturas Premium:</h5>
        <p>As assinaturas premium são opcionais e fornecem acesso a recursos adicionais.</p>
        <p>As taxas de assinatura serão cobradas de acordo com os termos especificados.</p>

        <h5>Responsabilidade:</h5>
        <p>O MealTracker não se responsabiliza por qualquer dano decorrente do uso de nossos serviços.</p>

        <h5>Rescisão:</h5>
        <p>Reservamo-nos o direito de encerrar contas que violem nossos termos ou políticas.</p>

        <h5>Alterações nos Termos:</h5>
        <p>Podemos atualizar nossos Termos de Uso periodicamente; verifique regularmente.</p>

        <h5>Contate-nos:</h5>
        <p>Se tiver dúvidas ou preocupações, entre em contato conosco em raulalves4@gmail.com.</p>

        <p>Ao continuar a usar o MealTracker, você concorda com esses Termos de Uso. Obrigado por escolher o MealTracker e aproveitar nossos serviços para uma vida mais saudável!</p>
        <p>Última atualização: 18/09/2023</p>
      </div>
    </div>
  </div>
</div>
