<!-- app/views/dashboards/show.html.erb -->
<div class="dashboard">
  <!-- Navigation Bar -->
  <nav class="navbar">
    <!-- Links to different sections -->
    <div class="navbar-menu">
      <%= link_to 'Calculadora de IMC', bmi_calculator_path, id: 'open-bmi-calculator' %>
      <a href="/appointments">Agendar Nutricionista</a>
      <a href="/refeicos">Refeições</a>
    </div>
  </nav>

  <!-- Main Area -->
  <div class="main-area">
  <div class="greeting-card">
    <h2>Bem vindo, [User]!</h2>
    <p>Aqui está o seu resumo de saúde para hoje:</p>
  </div>

    <div class="stats-grid">
      <div class="card water-intake">
        <h3>Ingestão de Água</h3>
        <progress id="water-progress" value="0" max="10"></progress>
        <p id="water-text">0 de 10 copos</p>
      </div>

      <div class="card step-count">
        <h3>Contagem de passos</h3>
        <p id="step-count">0 passos</p>
      </div>

      <div class="card next-appointment">
        <h3>Próxima agenda</h3>
        <p>Ter, Mar 18, 15:00 com Dr. João</p>
      </div>
    </div>

    <div class="action-buttons">
      <%= button_tag 'Adicionar Copo', type: 'button', id: 'add-water', class: 'button-style', onclick: 'incrementWaterIntake()' %>
      <%= button_tag 'Adicionar Passos', type: 'button', id: 'add-steps', class: 'button-style', onclick: 'incrementStepCount()' %>
    </div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('step-count').textContent = '0 passos';
      });
    </script>
</div>
