<!-- app/views/dashboards/show.html.erb -->
<div class="dashboard">
  <!-- Navigation Bar -->
  <nav class="navbar">
    <!-- Links to different sections -->
    <div class="navbar-menu">
      <%= link_to 'Calculadora de IMC', bmi_calculator_path, id: 'open-bmi-calculator' %>
      <a href="/appointments">Agendar Nutricionista</a>
      <a href="/refeicos">Refeições</a>
    </div>
  </nav>

  <!-- Main Area -->
  <div class="main-area">




</div>
