<!-- app/views/dashboards/show.html.erb -->
<div class="dashboard">
  <!-- Navigation Bar -->
  <nav class="navbar">
    <!-- Links to different sections -->
    <div class="navbar-menu">
      <%= link_to 'Calculadora de IMC', bmi_calculator_path, id: 'open-bmi-calculator' %>
      <a href="/appointments">Agendar Nutricionista</a>
      <a href="/refeicos">Refeições</a>
    </div>
  </nav>

  <!-- Main Area -->
  <div class="main-area">
  <div class="greeting-card">
    <h2>Bem vindo, [User]!</h2>
    <p>Aqui está o seu resumo de saúde para hoje:</p>
  </div>

    <div class="stats-grid">
      <div class="card water-intake">
        <h3>Ingestão de Água</h3>
        <progress id="water-progress" value="3" max="8"></progress>
        <p id="water-text">3 de 8 copos</p>
      </div>

      <div class="card step-count">
        <h3>Contagem de passos</h3>
        <p>4,500 passos</p>
      </div>

      <div class="card next-appointment">
        <h3>Próxima agenda</h3>
        <p>Ter, Mar 18, 15:00 com Dr. João</p>
      </div>
    </div>

    <div class="action-buttons">
      <button>Agendar Exercício</button>
      <%= button_tag 'Adicionar Copo', type: 'button', id: 'add-water', class: 'button-style', onclick: 'incrementWaterIntake()' %>
      <button>Adicionar Passos</button>
    </div>

</div>
