<!-- app/views/appointments/edit.html.erb -->

<h1>Editar Agendamentos</h1>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Mostrar', @appointment %> |
<%= link_to 'Voltar Para Agendamento', appointments_path %>
